name: Deploy Frontend to GitHub Pages

on:
  push:
    branches:
      - main   # Trigger deployment on push to main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4


      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20


      - name: Install Dependencies
        run: npm install
        working-directory: frontend


      - name: Build
        run: npm run build
        working-directory: frontend


      - name: Deploy
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: frontend/dist
          publish_branch: gh-pages
